<?xml version="1.0" encoding="utf-8"?>
<Content Key="71952737-827e-49cb-a833-8a4e7a8dbe30" Alias="About" Level="2">
  <Info>
    <Parent Key="e87f739d-5196-4176-8a83-13b9fd5d8786">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-07-23T11:26:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2dcc6e0f201b45beb108a779fafdc403"
      },
      {
        "contentUdi": "umb://element/4e89ebfc93914fc39782e5f0254bd20a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "37b7bbdd-c4fe-453f-919b-15908ca8a885",
      "udi": "umb://element/2dcc6e0f201b45beb108a779fafdc403",
      "text": {
        "markup": "<p>ctor rutrum eleifend. Pulvinar pellentesque ac porta suscipit condimentum; varius semper? Curae nam erat nunc mi iaculis venenatis. Sodales fusce mus ridiculus platea accumsan facilisi lacus. Venenatis netus auctor ex est fermentum. Nulla ad taciti tortor&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "f628d2b2-1997-4fbf-94d5-c92d6d64d042",
      "udi": "umb://element/4e89ebfc93914fc39782e5f0254bd20a",
      "title": "I call you to action!",
      "link": [
        {
          "name": "Come to github",
          "target": "_blank",
          "url": "https://www.github.com"
        }
      ],
      "text": {
        "markup": "<p>Take action now</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[history]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[{
  "markup": "<p>about us the main content</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </main>
    <summary>
      <Value><![CDATA[about us summary]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[[
  "apple",
  "banana",
  "cactus"
]]]></Value>
    </tags>
    <title>
      <Value><![CDATA[About us]]></Value>
    </title>
  </Properties>
</Content>