<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff0d7693-8e99-458a-9f84-b079b4240064" Alias="Eggplant" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/Eggplant</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-19T16:29:50</CreateDate>
    <NodeName Default="Eggplant" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[Eggplant,vegetable]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Eggplant]]></Value>
    </title>
  </Properties>
</Content>