<?xml version="1.0" encoding="utf-8"?>
<Content Key="96a575d8-681c-4a0e-bd30-fe160f38b3ea" Alias="Huckleberry" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/Huckleberry</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-20T10:11:36</CreateDate>
    <NodeName Default="Huckleberry" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[fruit]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Huckleberry]]></Value>
    </title>
  </Properties>
</Content>