<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d5d8113-fc44-4386-96ba-b36260c1268f" Alias="more news" Level="3">
  <Info>
    <Parent Key="680de3b2-023d-48d5-888a-38656d31fda5">News</Parent>
    <Path>/Home/News/moreNews</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-08T12:25:58</CreateDate>
    <NodeName Default="more news" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[More news]]></Value>
    </title>
  </Properties>
</Content>