<?xml version="1.0" encoding="utf-8"?>
<Content Key="680de3b2-023d-48d5-888a-38656d31fda5" Alias="News" Level="2">
  <Info>
    <Parent Key="e87f739d-5196-4176-8a83-13b9fd5d8786">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>twoColumnPage</ContentType>
    <CreateDate>2024-07-23T11:27:11</CreateDate>
    <NodeName Default="News" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aside>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b2dbbe2e02114174be9b4a0cabbfb902"
      },
      {
        "contentUdi": "umb://element/2981e9620b6845419466ad5eec4eea28"
      },
      {
        "contentUdi": "umb://element/6812011c10c84200bf96c686a8450151"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f628d2b2-1997-4fbf-94d5-c92d6d64d042",
      "udi": "umb://element/b2dbbe2e02114174be9b4a0cabbfb902",
      "title": "Subscribble!",
      "link": [
        {
          "name": "Sign up",
          "url": "www.google.com"
        }
      ],
      "text": {
        "markup": "<p>&nbsp;ullamcorper primis ex erat. Nam felis vulputate nullam et ornare eget luctus leo. Efficitur risus varius penatibus pretium augue arcu quisque; facilisi magna. In facilisi maecenas ipsum lobortis accumsan sit commodo gravida quis. Efficitur turpis senectus duis eu pretium sociosqu aliquam.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "f628d2b2-1997-4fbf-94d5-c92d6d64d042",
      "udi": "umb://element/2981e9620b6845419466ad5eec4eea28",
      "title": "Test",
      "link": [
        {
          "name": "test",
          "url": "www.test.com"
        }
      ],
      "text": ""
    },
    {
      "contentTypeKey": "37b7bbdd-c4fe-453f-919b-15908ca8a885",
      "udi": "umb://element/6812011c10c84200bf96c686a8450151",
      "text": {
        "markup": "<p>si ullamcorper primis ex erat. Nam felis vulputate nullam et ornare eget luc</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </aside>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[news]]></Value>
    </tags>
    <title>
      <Value><![CDATA[The news]]></Value>
    </title>
  </Properties>
</Content>