<?xml version="1.0" encoding="utf-8"?>
<Content Key="34e01f9c-8bf8-41f1-8b49-cde050996617" Alias="Our History" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/OurHistory</Path>
    <Trashed>false</Trashed>
    <ContentType>twoColumnPage</ContentType>
    <CreateDate>2024-07-23T11:26:57</CreateDate>
    <NodeName Default="Our History" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aside>
      <Value><![CDATA[]]></Value>
    </aside>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[apple,cactus]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Our history]]></Value>
    </title>
  </Properties>
</Content>