<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad4f3125-8a94-49b4-9b7d-a7f195d2311b" Alias="Raspberry" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/Raspberry</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-20T10:14:54</CreateDate>
    <NodeName Default="Raspberry" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[fruit,berry]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Raspberry]]></Value>
    </title>
  </Properties>
</Content>