<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ed0056c-a693-43f6-9b13-e187639175b5" Alias="Search" Level="2">
  <Info>
    <Parent Key="e87f739d-5196-4176-8a83-13b9fd5d8786">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-08-09T14:33:17</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Search]]></Value>
    </title>
  </Properties>
</Content>