<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a8f117b-04e2-4a8f-b03a-d9b0f08d137d" Alias="Site2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site2</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-07-24T15:19:38</CreateDate>
    <NodeName Default="Site2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerLinks>
      <Value><![CDATA[]]></Value>
    </footerLinks>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[1]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <siteName>
      <Value><![CDATA[Site2]]></Value>
    </siteName>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Site 2]]></Value>
    </title>
  </Properties>
</Content>