<?xml version="1.0" encoding="utf-8"?>
<Content Key="7613ea2e-e863-44be-833e-e11436cae224" Alias="Ugli fruit" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/UgliFruit</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-20T10:16:21</CreateDate>
    <NodeName Default="Ugli fruit" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[fruit]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Ugli fruit]]></Value>
    </title>
  </Properties>
</Content>