<?xml version="1.0" encoding="utf-8"?>
<Content Key="d32e67e8-dd08-4a37-b12d-38486f36b21e" Alias="Walnut" Level="3">
  <Info>
    <Parent Key="71952737-827e-49cb-a833-8a4e7a8dbe30">About</Parent>
    <Path>/Home/About/Walnut</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnPage</ContentType>
    <CreateDate>2024-08-20T10:17:19</CreateDate>
    <NodeName Default="Walnut" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <main>
      <Value><![CDATA[]]></Value>
    </main>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tags>
      <Value><![CDATA[nut]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Walnut]]></Value>
    </title>
  </Properties>
</Content>