<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e9a24ff-0277-4cf0-9be7-7e46ddda3e1c" Alias="Page - Markdown editor" Level="1">
  <Info>
    <Name>Page - Markdown editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": false,
  "OverlaySize": "small"
}]]></Config>
</DataType>