<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6b94207-b936-4f2f-b2d8-fb60c165c350" Alias="datasources" Level="2">
  <Info>
    <Name>Datasource</Name>
    <Icon>icon-folder-outline color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1fb3449b-c6a1-4597-a095-f9848fffc926" SortOrder="0">navigationFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>