<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6d7873f-3e50-46bd-8956-b51723fe3cb6" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38189eb7-a019-44b6-aed3-298ab1a3d45b">basePage</Composition>
      <Composition Key="f841861b-f4a9-4553-b03b-f06c817dd5e3">site</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b88d4e8-81c2-477d-aa49-0fe7d32dc54f" SortOrder="0">oneColumnPage</ContentType>
    <ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" SortOrder="1">twoColumnPage</ContentType>
    <ContentType Key="b6b94207-b936-4f2f-b2d8-fb60c165c350" SortOrder="2">datasources</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>