<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b88d4e8-81c2-477d-aa49-0fe7d32dc54f" Alias="oneColumnPage" Level="2">
  <Info>
    <Name>One Column Page</Name>
    <Icon>icon-notepad-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38189eb7-a019-44b6-aed3-298ab1a3d45b">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b88d4e8-81c2-477d-aa49-0fe7d32dc54f" SortOrder="0">oneColumnPage</ContentType>
    <ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" SortOrder="1">twoColumnPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>85e9e37c-92ab-4ecc-938b-ca94260a72e0</Key>
      <Name>Components</Name>
      <Alias>components</Alias>
      <Definition>8042b339-ad31-421b-99e6-9428e7527537</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f3213832-6d8f-4782-96dd-ee03474a0e74</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>