<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" Alias="twoColumnPage" Level="2">
  <Info>
    <Name>Two Column Page</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38189eb7-a019-44b6-aed3-298ab1a3d45b">basePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b88d4e8-81c2-477d-aa49-0fe7d32dc54f" SortOrder="0">oneColumnPage</ContentType>
    <ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" SortOrder="1">twoColumnPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>07f69907-ab31-4738-8fdb-5ae9bb7c6e06</Key>
      <Name>Aside</Name>
      <Alias>aside</Alias>
      <Definition>210e0023-7c5d-43de-81f1-460421bacb0e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b0a1dd46-927d-49a4-bad3-9069e9502c62</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>