<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" Alias="twoColumnPage" Level="2">
  <Info>
    <Name>Two Column Page</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e64ca814-40d0-41c9-b737-a7081662f92a">content</Composition>
      <Composition Key="1b248273-a85c-4a1a-aa60-2e84ce2929bc">navigation</Composition>
      <Composition Key="5b4647d9-9bd9-4953-8501-fe591a7a4c2f">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b88d4e8-81c2-477d-aa49-0fe7d32dc54f" SortOrder="0">oneColumnPage</ContentType>
    <ContentType Key="0f19555a-5560-45fe-bf6d-b3ab0b270539" SortOrder="1">twoColumnPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>07f69907-ab31-4738-8fdb-5ae9bb7c6e06</Key>
      <Name>Aside</Name>
      <Alias>aside</Alias>
      <Definition>210e0023-7c5d-43de-81f1-460421bacb0e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/components">Components</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d619341e-0081-47fa-b258-68b9dfc40f70</Key>
      <Caption>Components</Caption>
      <Alias>content/components</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>