<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00f5340b-03a1-4a63-8ca6-2861a6ecadcf" Alias="Aside - Content Picker" Level="1">
  <Info>
    <Name>Aside - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/51c0187f2c544acc9b51688a58c78211"
}]]></Config>
</DataType>